@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
    font-family: "Nunito";
    padding: 0;
    margin: 0.5rem;
} 
.top-nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 3rem;
}
.moringa-logo{
    padding-left: 2rem;
}
.nav-bar > ul > li{
    display: flex;
    display: inline;
    justify-content: space-between;
    padding-left: 1rem;
}
ul{ 
    padding-top: 1rem;
    list-style-type: none;
    padding-left: 1rem;
}
.section-1{
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    height: fit-content;
}
.colored-text{
    color: #EC4067;
}
.first-button > button  {
    background-color: #EC4067;
    padding: 4px 14px;
    border-radius: 10px;
    color: white;
}
.first-image{
    width: 300px;
}
.enroll-now > button{
    background-color: #EC4067;
    padding: 4px 14px;
    border-radius: 10px;
    color: white;
}
.explore > button{
    background-color: white;
    color: #EC4067;
    border: 1px solid #EC4067;
    padding: 4px 14px;
    font-weight: 600;
}
.image-2{
    width: 300px; 
    padding-right: 20px;
}
.image-2-plus-text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.stories-plus-image{
    
}
.text-2 > button{
    background-color: #EC4067;
    padding: 4px 14px;
    border-radius: 10px;
    color: white;
}
.text-align > button{
    background-color: #EC4067;
    padding: 4px 14px;
    border-radius: 10px;
    color: white;
}
.text-four > button{
    background-color: #EC4067;
    padding: 4px 14px;
    border-radius: 10px;
    color: white;
}
.text-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.text-align{
    flex-wrap: wrap;
}
.third{
    width: 300px;
}
.image-text-sectio-four{
    display: flex;
    justify-content: space-around;

}
.image-four{
    width: 300px;
}
.stories{
    background-color: red;
}
.section-five{
    padding-left: 9.5rem;
}
.all-mentors{
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    padding-left: 9.5rem;


}
.rose-image > img{
    width: 200px;

}
.rose-and-text > button{
    background-color: #EC4067;
    padding: 4px 14px;
    border-radius: 10px;
    color: white;

}
.rose-and-text > h4{
    color: #EC4067;
}
.byrrone-image > img{
    width: 200px;
}
.byrrone-and-text > button{
    background-color: #EC4067;
    padding: 4px 14px;
    border-radius: 10px;
    color: white;

}
.byrrone-and-text > h4{
    color: #EC4067;
}
.Katana-image > img{
    width: 200px;
}
.Katana-and-text > button{
    background-color: #EC4067;
    padding: 4px 14px;
    border-radius: 10px;
    color: white;
}
.Katana-and-text > h4{
    color: #EC4067;
}
.Karimi-image > img{
    width: 200px;
}
.Karimi-and-text > button{
    background-color: #EC4067;
    padding: 4px 14px;
    border-radius: 10px;
    color: white;
}
.Karimi-and-text > h4{
    color: #EC4067;
}
/* section-six */
.purely-text{
    display: flex;
    align-items: center;
}
.cool-bike{
    color: #EC4067;
}
.bike-image-sec-five > img{
    width: 600px;
}
.section-five-imege-text{
    display: flex;
}
.for-entire-section-six{
    padding-left: 9.5rem;
}
.section-five-text > button{
    background-color: #EC4067;
    padding: 4px 14px;
    border-radius: 10px;
    color: white;
}
.finalizing{
    padding-left: 9.5rem;
}
.finalizing > h1{
    color: #EC4067;
}
.finalizing > h2 > button{
    background-color: #EC4067;
    padding: 4px 14px;
    border-radius: 10px;
    color: white;  
}
.pink-final{
   color: #EC4067;
}
footer{
    align-items: center;
    padding-left: 25rem;
    background-color: #f7f7f7;
    height: 5rem;
}
.our-final-text{
    padding-top: 2rem;

}